* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

nav {
    background: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav button {
    background: pink;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.hero {
    background: #ffe6f2;
    text-align: center;
    padding: 40px;
}

.services {
    padding: 20px;
    text-align: center;
}

.box {
    background: #f2f2f2;
    margin: 10px auto;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}



        h2{
            text-align: center;
            margin-top: 20px;
        }

        .testimonial-container{
            width: 90%;
            max-width: 900px;
            margin: auto;
            margin-top: 20px;
        }

        .testimonial-card{
            background: white;
            padding: 20px;
            margin: 15px 0;
            border-radius: 10px;
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        }

        .testimonial-card h3{
            margin: 0;
            color: #ff4f9a;
        }

        .testimonial-card p{
            color: #555;
            margin-top: 8px;
        }

        .stars{
            color: gold;
            font-size: 18px;
            margin-top: 6px;
        }